@using ProjetCESI.Web.Models;

@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<h3><font color="red">@ViewData["Message"]</font></h3>

<div>
    @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, true, htmlAttributes: new { @id = "formLoginAccount", @class = "login-form", @data_login_form = "true" }))
    {
        <div class="login-form__input">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Votre identifiant" })
            <i class="fa fa-user inputIcon"></i>
        </div>
        <div class="login-form__input">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Mot de passe", onkeydown = "submitForm(event);" })
            <i class="fa fa-unlock-alt inputIcon"></i>
        </div>
        <button id="btnValidation" style="position:relative" class="btn--primary btn--block text--center loaderPage login-form__submit" data-left-position="30px" type="submit">
            <span id="spinner" style="display:none;position:absolute;left:23px;top:10px"><img src="~/Images/spinner-interval.png" style="width: 20px;"></span>
            <span class="text--center">Se connecter</span>
        </button>
    }
    <p>
        Pas de compte ? cliquez @Html.ActionLink("ici", "Register") pour vous inscrire
    </p>

</div>