@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Politique sur les cookies";
}
<h1>@ViewData["Title"]</h1>

<p>En visitant notre site Web et en utilisant nos services, vous comprenez et acceptez la façon dont nous traitons les données personnelles conformément à notre politique de confidentialité. Nous respectons votre vie privée et le droit de contrôler vos données personnelles. Nos principes directeurs sont simples. Nous allons être ouverts avec quelles données nous collectons et pourquoi. Veuillez prendre un moment pour les lire. C'est important !</p>
<p>
    Les cookies sont de petites quantités d’informations stockées dans des fichiers au sein même du navigateur de votre ordinateur. Les cookies sont accessibles et enregistrés par les sites internet que vous consultez, et par les sociétés qui affichent leurs annonces publicitaires sur des sites internet, pour qu’ils puissent reconnaître le navigateur. Les sites Internet peuvent uniquement accéder aux cookies qu’ils ont stockés sur votre ordinateur.
</p>

<p>
    En utilisant le Site Internet , vous consentez à l’utilisation des cookies déposés par notre Site.
</p>
<p>
    Le site Internet utilisent des cookies aux fins suivantes :
</p>
<ul>
    <li>
        <strong>Usage du site :</strong> pour nous aider à reconnaître votre navigateur comme celui d’un visiteur précédent et pour enregistrer les préférences que vous avez déterminées lors de votre précédente visite sur le Site. Par exemple, nous pouvons enregistrer vos informations de connexion de sorte que vous n’ayez pas à vous connecter à chaque fois que vous visitez le Site ;
    </li>
    <li>
        <strong>Réseaux sociaux :</strong> pour vérifier si vous êtes connectés à des services tiers (Facebook, Twitter, Google+…) ;
    </li>
    <li>
        <strong>Ciblage :</strong>pour nous permettre de cibler (emailing, enrichissement de base) à postériori ou en temps réel l’internaute qui navigue sur notre Site ;
    </li>
    <li>
        <strong>Mesure d’audience :</strong> pour suivre les données statistiques de fréquentation du Site (soit l’utilisation faite du Site par les utilisateurs et pour améliorer les services du Site) et pour nous aider à mesurer et étudier l’efficacité de notre contenu interactif en ligne, de ses caractéristiques, publicités et autres communications.
    </li>
</ul>
<p style="text-decoration:underline;">
    <strong>Vos Choix Concernant les Cookies et Balises Web</strong>
</p>
<p>
    Vous avez le choix de configurer votre navigateur pour accepter tous les cookies, rejeter tous les cookies, vous informer quand un cookie est émis, sa durée de validité et son contenu, ainsi que vous permettre de refuser son enregistrement dans votre terminal, et supprimer vos cookies périodiquement.
</p>
<p>
    Vous pouvez paramétrer votre navigateur Internet pour désactiver les cookies. Notez toutefois que si vous désactivez les cookies, votre nom d’utilisateur ainsi que votre mot de passe ne seront plus sauvegardés sur aucun site web. Pour plus d’informations relatives aux méthodes vous permettant de supprimer et de contrôler les cookies stockés sur votre ordinateur, consultez le site suivant : <a href="http://www.allaboutcookies.org/fr/"> http://www.allaboutcookies.org/fr/ </a>
</p>