@using ProjetCESI.Web.Models;
@model CreateRessourceViewModel

@Model.Titre
@Html.Raw(Model.Contenu)

<form asp-action="CreateArticle" asp-controller="CreateArticle" method="post">

    <br />
    <center><button type="submit">Valider mon article</button></center>
</form>