@model string

@Html.Raw(Model)

<form asp-action="CreateArticle" asp-controller="CreateArticle" method="post">

    <br />
    <center><button type="submit">Valider mon article</button></center>
</form>