/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#recherche-avancee label {
    margin-bottom: initial;
}

.breadcrumb {
    background-color: initial;
    padding: initial;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.breadcrumb-item + .active {
    color: black;
    font-weight: bold;
}

#ressource-card * {
    color: black;
}

#ressource-card:hover * {
    color: black;
    text-decoration: none;
}

#search-text-input {
    border-top: thin solid #e5e5e5;
    border-right: thin solid #e5e5e5;
    border-bottom: 0;
    border-left: thin solid #e5e5e5;
    box-shadow: 0px 1px 1px 1px #e5e5e5;
    float: left;
    height: 27px;
    margin: 11px 0 0 .5em;
    outline: 0;
    padding: .4em 0 .4em .6em;
    width: 183px;
}

#button-holder {
    background-color: #f1f1f1;
    border-top: thin solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px #e5e5e5;
    cursor: pointer;
    float: left;
    height: 27px;
    margin: 11px 0 0 0;
    text-align: center;
    width: auto;
}

#button-holder button {
    padding: initial;
    width: 2em;
}

#button-holder img {
    width: 12px;
    margin: -4px 0px 0px 0px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
